In [1]:
import numpy as np
import pandas as pd

import

In [11]:
csv_path = r'Learning_set\Bearing1_1\acc_00001.csv'
acc_col_names = ('Hour', 'Minute', 'Second', 'Microsec', 'HorizontalAcc', 'VerticalAcc')
df = pd.read_csv(csv_path, names=acc_col_names)

In [14]:
df.iloc[-1:-3:-1]

      Hour  Minute  Second  Microsec  HorizontalAcc  VerticalAcc
2559     9      39      39  165620.0         -0.134        0.541
2558     9      39      39  165580.0         -0.230       -0.762

In [15]:
csv_path = r'Learning_set\Bearing1_1\acc_00002.csv'
df2 = pd.read_csv(csv_path, names=acc_col_names)

In [16]:
df2.iloc[0:2]

   Hour  Minute  Second  Microsec  HorizontalAcc  VerticalAcc
0     9      39      49   65664.0         -0.140       -0.043
1     9      39      49   65703.0         -0.162        0.313

In [18]:
df2.iloc[-1].Microsec - df2.iloc[0].Microsec

99956.0

In [19]:
df.iloc[-1].Microsec - df.iloc[0].Microsec

99956.0